.scrollable {
  //position: absolute;
  bottom: 0;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.form-input {
  display: inline-block;
  text-align: start;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

table {
  width: 100%;
}
