.wrap {
  display: flex;
  flex-direction: column;
}

.top {
  align-self: flex-start;
}

.spacer {
  flex: 1 1 auto;
  text-align: center;
}

.routerLink {
  cursor: pointer;
  margin-right: 10px;
}

.bottom {
  align-self: flex-end;
  //position: fixed;
  //bottom: 0;
}

.container {
  flex-grow: 1000;
}
