<div class="root-dlg">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <h2>Login </h2>

    <p>
      <mat-error *ngIf="auth.error$ | async as error">{{ error }}</mat-error>
    </p>
    <p>
      <mat-error *ngIf="message">{{ message }}</mat-error>
    </p>

    <div class="fields">

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required>
          <mat-error *ngIf="form.get('email')!.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hidePwd ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hidePwd = !hidePwd" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePwd">
            <mat-icon>{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('password')!.invalid">{{getPwdErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
    </div>

    <div class="buttons">
      <button type="submit" mat-raised-button [disabled]="form.invalid || submitted">Login</button>
    </div>
  </form>
</div>
